.App {
  text-align: center;
  display:flex;
  margin: 30px;
}

.row {
  display: block;
  margin: 20px !important;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 100%;
  /* font-size: 0px; */
}

.details h1 {
  font-weight: bolder;
  font-size: 400%;
}

.row p {
display: inline-block;
font-size: 16px;
width: 40%;
}

.row ul {
  display: inline-block;
  font-size: 16px;
  width: 40%;
  list-style: none;
  }

.row h2 {
  display: inline-block;
  width: auto;
}

.details {
  display:flex;
  flex-direction: column;
  width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.list {
  display:block;
  text-align:left;
  border: 1px solid black;
}

